/* whole page */

body {
    font-family: Arial;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* hello world box */

#box {
    width: 10rem;
    height: 5.5rem;
    padding-top: 4.5rem;
    text-align: center;
    background: #008080;
    font-size: 14px;
    color: white;
    font-weight: bold;
    border-radius: 1rem;
    font-size: 1rem;
    margin-top: 2rem;
}

/* hello world box counter */

#counter {
    /* color: gray; */
    margin-top: 1rem;
    font-weight: bold;
    font-size: 3rem;
}

.colorize-counter {
    color: gray;
}

/* A-C traversal log */

#traversal {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: -1rem;
}

#letter {
    padding: .3rem;
    color: olivedrab;
    margin: .1rem;
}