/* whole page */

body {
    font-family: Arial;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: gray; 
}

/* heading */

h1 {
    margin-bottom: 0;
}

/* hello world box */

#box {
    width: 10rem;
    height: 5.5rem;
    padding-top: 4.5rem;
    text-align: center;
    background: #008080;
    font-size: 14px;
    color: white;
    font-weight: bold;
    border-radius: 1rem;
    font-size: 1rem;
    margin-top: 2rem;
}

/* hello world box counter */

#counter {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

/* A-C traversal log */

article {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 0rem;
}

#letter {
    padding: .3rem;
    color: olivedrab;
    margin: .1rem;
}

/* color buttons */

button {
    background-color: lightgray;
    border: 0;
    border-radius: 1rem;
    margin: 1rem 0.5rem 0 0.5rem;
    color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-weight: bold;
}

#greenBtn,
#orangeBtn,
#pinkBtn {
    padding: 1rem 1rem 1rem 1rem;
}

#greenBtn {
    background-color: olivedrab;
}

#pinkBtn {
    background-color: lightpink;
}

#orangeBtn {
    background-color: orange;
}

/* fog */

.fog {
    background-color: #f1f1f1;
    opacity: 0.5;
}

#fogBtn,
#unfogBtn {
    margin-bottom: 1.5rem;
}

/* paragraphs */

p {
    margin-top: 5rem;
    margin: 0.5rem;
}

#p5 {
    margin-bottom: 0;
}